Repository mb4540/LangGraphServer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yaml}": ["prettier --write"]
}

fix: remove not-found page from app build manifest and paths
  .next/app-build-manifest.json
  .next/server/app-paths-manifest.json
  .next/server/webpack-runtime.js
  .next/static/chunks/webpack.js
  .next/static/webpack/da5dd4ddca1e81cc.webpack.hot-update.json
  .next/static/webpack/webpack.da5dd4ddca1e81cc.hot-update.js
  .next/trace
Due: eslint --fix, prettier --write

feat: initialize FastAPI backend for LangGraph code generation service
  backend/Dockerfile
  backend/README.md
  backend/app/__init__.py
  backend/app/__pycache__/__init__.cpython-312.pyc
  backend/app/__pycache__/main.cpython-312.pyc
  backend/app/main.py
  backend/app/routers/__init__.py
  backend/app/routers/__pycache__/__init__.cpython-312.pyc
  backend/app/routers/__pycache__/code_generator.cpython-312.pyc
  backend/app/routers/code_generator.py
  backend/requirements.txt
  backend/run.py
  backend/tests/__init__.py
  backend/tests/test_code_generator.py
Due: prettier --write

chore: add Docker and Make configuration for LangGraph server deployment
  Makefile
  docker-compose.yml
Due: none

feat: implement project and graph version management with PostgreSQL database
  backend/app/__pycache__/main.cpython-312.pyc
  backend/app/main.py
  backend/app/models/database.py
  backend/app/models/schemas.py
  backend/app/routers/__pycache__/projects.cpython-312.pyc
  backend/app/routers/projects.py
  backend/requirements.txt
Due: none

feat: expand node schemas with comprehensive control flow and execution types
  .next/app-build-manifest.json
  .next/server/app-paths-manifest.json
  .next/server/app/page.js
  .next/server/webpack-runtime.js
  .next/static/chunks/app/page.js
  .next/static/chunks/webpack.js
  .next/static/webpack/app/page.f224ccd0b2233246.hot-update.js
  .next/static/webpack/f224ccd0b2233246.webpack.hot-update.json
  .next/static/webpack/webpack.f224ccd0b2233246.hot-update.js
  .next/trace
  src/utils/schemaUtils.ts
Due: eslint --fix, prettier --write

refactor: update graph store with enhanced node and edge types
  .next/cache/webpack/client-development/4.pack.gz
  .next/cache/webpack/client-development/6.pack.gz
  .next/cache/webpack/client-development/7.pack.gz
  .next/cache/webpack/client-development/8.pack.gz
  .next/cache/webpack/client-development/9.pack.gz
  .next/cache/webpack/client-development/index.pack.gz
  .next/cache/webpack/client-development/index.pack.gz.old
  .next/cache/webpack/server-development/3.pack.gz
  .next/cache/webpack/server-development/5.pack.gz
  .next/cache/webpack/server-development/6.pack.gz
  .next/cache/webpack/server-development/7.pack.gz
  .next/cache/webpack/server-development/8.pack.gz
  .next/cache/webpack/server-development/index.pack.gz
  .next/cache/webpack/server-development/index.pack.gz.old
  .next/server/app/page.js
  .next/server/webpack-runtime.js
  .next/static/chunks/app/page.js
  .next/static/chunks/webpack.js
  .next/static/webpack/0c1137522f3e8e05.webpack.hot-update.json
  .next/static/webpack/13baf80da041598e.webpack.hot-update.json
  .next/static/webpack/af0272eb0303887f.webpack.hot-update.json
  .next/static/webpack/app/page.0c1137522f3e8e05.hot-update.js
  .next/static/webpack/app/page.13baf80da041598e.hot-update.js
  .next/static/webpack/app/page.af0272eb0303887f.hot-update.js
  .next/static/webpack/app/page.e2b2527478207888.hot-update.js
  .next/static/webpack/e2b2527478207888.webpack.hot-update.json
  .next/static/webpack/webpack.0c1137522f3e8e05.hot-update.js
  .next/static/webpack/webpack.13baf80da041598e.hot-update.js
  .next/static/webpack/webpack.af0272eb0303887f.hot-update.js
  .next/static/webpack/webpack.e2b2527478207888.hot-update.js
  .next/trace
  src/store/graphStore.ts
Due: eslint --fix, prettier --write

chore: update Next.js webpack cache files for client and server builds
  .next/cache/webpack/client-development/10.pack.gz
  .next/cache/webpack/client-development/6.pack.gz
  .next/cache/webpack/client-development/index.pack.gz
  .next/cache/webpack/client-development/index.pack.gz.old
  .next/cache/webpack/server-development/5.pack.gz
  .next/cache/webpack/server-development/9.pack.gz
  .next/cache/webpack/server-development/index.pack.gz
  .next/cache/webpack/server-development/index.pack.gz.old
Due: none

chore: update Next.js webpack cache files
  .next/cache/webpack/client-development/11.pack.gz
  .next/cache/webpack/client-development/8.pack.gz
  .next/cache/webpack/client-development/index.pack.gz
  .next/cache/webpack/client-development/index.pack.gz.old
  .next/cache/webpack/server-development/1.pack.gz
  .next/cache/webpack/server-development/10.pack.gz
  .next/cache/webpack/server-development/2.pack.gz
  .next/cache/webpack/server-development/4.pack.gz
  .next/cache/webpack/server-development/5.pack.gz
  .next/cache/webpack/server-development/7.pack.gz
  .next/cache/webpack/server-development/8.pack.gz
  .next/cache/webpack/server-development/9.pack.gz
  .next/cache/webpack/server-development/index.pack.gz
  .next/cache/webpack/server-development/index.pack.gz.old
Due: none

feat: add cycle detection and validation for loop nodes in graph store
  .next/server/app/page.js
  .next/server/webpack-runtime.js
  .next/static/chunks/app/layout.js
  .next/static/chunks/app/page.js
  .next/static/chunks/webpack.js
  .next/static/css/app/layout.css
  .next/static/webpack/2ded3e46233df437.webpack.hot-update.json
  .next/static/webpack/47284c775c5195a6.webpack.hot-update.json
  .next/static/webpack/4a8a0cb3ab0f3c83.webpack.hot-update.json
  .next/static/webpack/4c22c66438d64669.webpack.hot-update.json
  .next/static/webpack/87852fdfeb4db923.webpack.hot-update.json
  .next/static/webpack/app/layout.47284c775c5195a6.hot-update.js
  .next/static/webpack/app/layout.87852fdfeb4db923.hot-update.js
  .next/static/webpack/app/page.2ded3e46233df437.hot-update.js
  .next/static/webpack/app/page.47284c775c5195a6.hot-update.js
  .next/static/webpack/app/page.4a8a0cb3ab0f3c83.hot-update.js
  .next/static/webpack/app/page.4c22c66438d64669.hot-update.js
  .next/static/webpack/app/page.87852fdfeb4db923.hot-update.js
  .next/static/webpack/app/page.cb166f5a361639e2.hot-update.js
  .next/static/webpack/cb166f5a361639e2.webpack.hot-update.json
  .next/static/webpack/webpack.2ded3e46233df437.hot-update.js
  .next/static/webpack/webpack.47284c775c5195a6.hot-update.js
  .next/static/webpack/webpack.4a8a0cb3ab0f3c83.hot-update.js
  .next/static/webpack/webpack.4c22c66438d64669.hot-update.js
  .next/static/webpack/webpack.87852fdfeb4db923.hot-update.js
  .next/static/webpack/webpack.cb166f5a361639e2.hot-update.js
  .next/trace
  src/components/nodes/EndNode.tsx
  src/components/panels/DetailPanel.tsx
  src/store/graphStore.ts
Due: eslint --fix, prettier --write

feat: add min/max constraints to tool node concurrency and retries
  .next/cache/webpack/client-development/1.pack.gz
  .next/cache/webpack/client-development/2.pack.gz
  .next/cache/webpack/client-development/index.pack.gz
  .next/cache/webpack/client-development/index.pack.gz.old
  .next/cache/webpack/server-development/1.pack.gz
  .next/cache/webpack/server-development/14.pack.gz
  .next/cache/webpack/server-development/2.pack.gz
  .next/cache/webpack/server-development/index.pack.gz
  .next/cache/webpack/server-development/index.pack.gz.old
  .next/server/app/page.js
  .next/server/webpack-runtime.js
  .next/static/chunks/app/layout.js
  .next/static/chunks/app/page.js
  .next/static/chunks/webpack.js
  .next/static/css/app/layout.css
  .next/static/webpack/21aff317e704bd49.webpack.hot-update.json
  .next/static/webpack/4d1d7001e8182f3e.webpack.hot-update.json
  .next/static/webpack/app/layout.21aff317e704bd49.hot-update.js
  .next/static/webpack/app/layout.4d1d7001e8182f3e.hot-update.js
  .next/static/webpack/app/page.21aff317e704bd49.hot-update.js
  .next/static/webpack/app/page.4d1d7001e8182f3e.hot-update.js
  .next/static/webpack/app/page.d33c9f8bb8adb5fd.hot-update.js
  .next/static/webpack/d33c9f8bb8adb5fd.webpack.hot-update.json
  .next/static/webpack/webpack.21aff317e704bd49.hot-update.js
  .next/static/webpack/webpack.4d1d7001e8182f3e.hot-update.js
  .next/static/webpack/webpack.d33c9f8bb8adb5fd.hot-update.js
  .next/trace
  backend/app/routers/__pycache__/code_generator.cpython-312.pyc
  backend/app/routers/code_generator.py
  backend/app/utils/tool_helpers.py
  src/components/nodes/ToolNode.tsx
  src/components/panels/DetailPanel.tsx
  src/utils/schemaUtils.ts
Due: eslint --fix, prettier --write

chore: update Next.js webpack cache files
  .next/cache/webpack/client-development/0.pack.gz
  .next/cache/webpack/client-development/1.pack.gz
  .next/cache/webpack/client-development/3.pack.gz
  .next/cache/webpack/client-development/4.pack.gz
  .next/cache/webpack/client-development/index.pack.gz
  .next/cache/webpack/client-development/index.pack.gz.old
  .next/cache/webpack/server-development/14.pack.gz
  .next/cache/webpack/server-development/2.pack.gz
  .next/cache/webpack/server-development/3.pack.gz
  .next/cache/webpack/server-development/4.pack.gz
  .next/cache/webpack/server-development/index.pack.gz
  .next/cache/webpack/server-development/index.pack.gz.old
Due: none

feat: add terminal tab with setup instructions to chat tester panel
  src/components/panels/ChatTester.tsx
Due: eslint --fix, prettier --write

chore: update webpack cache files and remove stale pack
  .next/cache/webpack/client-development/4.pack.gz
  .next/cache/webpack/client-development/6.pack.gz
  .next/cache/webpack/client-development/index.pack.gz
  .next/cache/webpack/client-development/index.pack.gz.old
  .next/cache/webpack/server-development/2.pack.gz
  .next/cache/webpack/server-development/3.pack.gz
  .next/cache/webpack/server-development/3.pack.gz_
  .next/cache/webpack/server-development/index.pack.gz
  .next/cache/webpack/server-development/index.pack.gz.old
Due: none

Human in the loop
  backend/app/main.py
  backend/app/routers/code_generator.py
  backend/app/routers/human_pause.py
  backend/app/utils/human_pause_utils.py
  src/app/interventions/page.tsx
  src/components/nodes/HumanPauseNode.tsx
  src/components/panels/DetailPanel.tsx
  src/components/panels/GraphCanvas.tsx
  src/components/ui/icons.tsx
  src/utils/schemaUtils.ts
Due: eslint --fix, prettier --write

more updates
  .next/cache/webpack/client-development/0.pack.gz
  .next/cache/webpack/client-development/3.pack.gz
  .next/cache/webpack/client-development/4.pack.gz
  .next/cache/webpack/client-development/8.pack.gz
  .next/cache/webpack/client-development/9.pack.gz
  .next/cache/webpack/client-development/index.pack.gz
  .next/cache/webpack/client-development/index.pack.gz.old
  .next/cache/webpack/server-development/0.pack.gz
  .next/cache/webpack/server-development/1.pack.gz
  .next/cache/webpack/server-development/11.pack.gz
  .next/cache/webpack/server-development/4.pack.gz
  .next/cache/webpack/server-development/6.pack.gz
  .next/cache/webpack/server-development/8.pack.gz
  .next/cache/webpack/server-development/index.pack.gz
  .next/cache/webpack/server-development/index.pack.gz.old
Due: none

clear graph button
  .next/app-build-manifest.json
  .next/server/app-paths-manifest.json
  .next/server/app/page.js
  .next/server/webpack-runtime.js
  .next/static/chunks/app/layout.js
  .next/static/chunks/app/page.js
  .next/static/chunks/webpack.js
  .next/static/webpack/61bda6045982ce3b.webpack.hot-update.json
  .next/static/webpack/app/layout.61bda6045982ce3b.hot-update.js
  .next/static/webpack/app/page.61bda6045982ce3b.hot-update.js
  .next/static/webpack/webpack.61bda6045982ce3b.hot-update.js
  .next/trace
  src/components/panels/GraphCanvas.tsx
Due: eslint --fix, prettier --write
